body {
  margin: 0;
  overflow: hidden;
  background-color: black;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 90vw;
  height: 90vh;
  color: white;
  margin: 50px;
}

.slides {
  display: flex;
  width: 600%;
  left: 0%;
  position: absolute;
  height: 100%;
  transition: all 1s ease-in-out;
}

.slide > button {
  z-index: 5;
  position: absolute;
  height: 50px;
  top: 40%;
  border-radius: 50px;
  width: 50px;
}

.slide > button:last-child {
  right: 0;
}

.slideHorizontal:nth-child(1) {
  background-color: rgb(42, 149, 165);
}

.slideHorizontal:nth-child(2) {
  background-color: rgb(54, 42, 165);
}

.slideHorizontal:nth-child(3) {
  background-color: rgb(112, 42, 165);
}

.slideHorizontal:nth-child(4) {
  background-color: rgb(165, 42, 93);
}

.slideHorizontal:nth-child(5) {
  background-color: rgb(97, 165, 42);
}

.slideHorizontal:nth-child(6) {
  background-color: rgb(165, 42, 42);
}

.slideHorizontal {
  width: 100%;
}
